---
import AnimeCard from "../ui/AnimeCard.astro";

const { season_id } = Astro.props;

const data = await fetch(
    `https://api.rinshankaiho.fun/api/v0/season/${season_id}`,
).then((res) => res.json());
const subjects = data.subjects;
---

<div class="anime-rank">
    <div class="anime-rank-header">
        <div>仅显示有排名的作品</div>
        <div>Rank</div>
        <div>评分</div>
        <div>收藏</div>
        <div>评论</div>
        <div>抛弃率</div>
    </div>
    {subjects.map((item: any, index: number) => (
        <AnimeCard
            index={index}
            id={item.id}
            name={item.name}
            name_cn={item.name_cn}
            images_large={item.images_large}
            images_grid={item.images_grid}
            score={item.score}
            rank={item.rank}
            collection_total={item.collection_total}
            average_comment={item.average_comment}
            drop_rate={item.drop_rate}
            air_weekday={item.air_weekday}
            meta_tags={item.meta_tags}
        />
    ))}
</div>
