---
import AnimeCard from "../ui/AnimeCard.astro";
import { Icon } from "astro-icon/components";

const { season_id } = Astro.props;

const data = await fetch(
    `https://api.rinshankaiho.fun/api/v0/season/${season_id}`,
).then((res) => res.json());
const subjects = data.subjects;
function formatUpdatedAt(updated_at: string) {
    const date = new Date(updated_at);
    return date.toLocaleDateString("zh-CN", {
        year: "numeric",
        month: "long",
        day: "numeric",
        hour: "2-digit",
        minute: "2-digit",
    });
}
---

<div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-6">
    <div class="anime-rank-header">
        <div>仅显示有排名的作品</div>
        <div>Rank</div>
        <div>评分</div>
        <div>收藏</div>
        <div>评论</div>
        <div>抛弃率</div>
    </div>
    <div class="space-y-2">
        {
            subjects.map((item: any, index: number) => (
                <AnimeCard
                    index={index}
                    id={item.id}
                    name={item.name}
                    name_cn={item.name_cn}
                    images_large={item.images_large}
                    images_grid={item.images_grid}
                    score={item.score}
                    rank={item.rank}
                    collection_total={item.collection_total}
                    average_comment={item.average_comment}
                    drop_rate={item.drop_rate}
                    air_weekday={item.air_weekday}
                    meta_tags={item.meta_tags}
                />
            ))
        }
    </div>
    <div class="text-gray-600 dark:text-gray-400 text-xs mt-4 mb-1 flex items-center justify-center gap-1">
        <Icon name="mdi:clock-outline" class="text-sm" />
        <span>数据更新时间：{formatUpdatedAt(data.updated_at)}</span>
    </div>
</div>
