---
import Star from "../icons/Star.astro";
import Bookmark from "../icons/Bookmark.astro";
import Chat from "../icons/Chat.astro";
import Fire from "../icons/Fire.astro";
import Keep from "../icons/Keep.astro";
import Trashbin from "../icons/Trashbin.astro";

const {
    index,
    id,
    name,
    name_cn,
    images_large,
    images_grid,
    score,
    rank,
    collection_total,
    is_collection_top3,
    average_comment,
    is_comment_top3,
    drop_rate,
    is_drop_rate_top3,
    air_weekday,
    meta_tags,
} = Astro.props;
---

<div
    class="anime-card relative flex flex-col sm:flex-row items-start p-3 mb-3 bg-white dark:bg-[#3d3d3f] rounded-lg shadow-md overflow-hidden"
    data-rank={rank}
    data-score={score}
    data-collection={collection_total}
    data-comment={average_comment}
    data-drop={drop_rate}
>
    <!-- 排名 -->
    <div
        class="rank-badge top-0 left-0 w-8 h-8 flex items-center justify-center absolute"
    >
        <div
            class="w-full h-full flex items-center justify-center font-bold text-sm text-gray-700 dark:text-gray-300 bg-gray-100 dark:bg-gray-700"
        >
            {index + 1}
        </div>
    </div>

    <div
        class="card-container flex flex-row items-start w-[calc(100%-1.5rem)] md:w-auto ml-6 md:ml-8 gap-3"
    >
        <!-- 动画海报 -->
        <div class="card-image flex-shrink-0 mr-3 sm:mr-4">
            <img
                class="w-14 sm:w-16 h-20 sm:h-24 object-cover rounded"
                src={images_grid}
            />
        </div>
        <div class="card-body flex flex-col flex-1 min-w-0">
            <div class="card-head flex items-start justify-between gap-4">
                <!-- 标题 -->
                <div class="card-title flex-1 min-w-0">
                    <div
                        class="font-bold text-base text-black dark:text-gray-100 hover:text-blue-600 dark:hover:text-blue-400"
                    >
                        <a
                            href={`https://bgm.tv/subject/${id}`}
                            target="_blank"
                        >
                            {name_cn || name}
                        </a>
                    </div>
                    <div
                        class="text-gray-600 dark:text-gray-300 text-xs mb-1 truncate"
                    >
                        {name}
                    </div>
                </div>
                <!-- 评分 -->
                <div
                    class="card-score ml-auto sm:ml-4 mt-1 sm:mt-0 md:ml-4 sm:text-right sm:shrink-0 sm:absolute sm:right-3 sm:top-3"
                >
                    <div
                        class="font-bold text-base text-black dark:text-gray-100"
                    >
                        {score.toFixed(4)}
                    </div>
                    <div class="text-gray-600 dark:text-gray-300 text-xs mb-1">
                        rank: {rank === 999999 ? "N/A" : rank}
                    </div>
                </div>
            </div>
            <!-- 信息 -->
            <div class="card-info mt-2">
                <!-- 标签 -->
                <div class="flex flex-wrap gap-1 items-center">
                    <span
                        class="bg-green-100 text-green-800 dark:bg-green-800/50 dark:text-green-200 text-xs px-1.5 py-0.5 rounded"
                        >{air_weekday}</span
                    >
                    {
                        meta_tags.map((tag: string) => (
                            <span class="bg-blue-100 text-blue-800 dark:bg-blue-800/50 dark:text-blue-200 text-xs px-1.5 py-0.5 rounded">
                                {tag}
                            </span>
                        ))
                    }
                </div>
                <!-- 收藏数 -->
                <div
                    class="hidden sm:flex mt-2 gap-4 text-xs text-gray-600 dark:text-gray-400 items-center"
                >
                    <div class="flex flex-wrap gap-1 inline-flex items-center">
                        {
                            is_collection_top3 ? <Star /> : <Bookmark />
                        }
                        <span>收藏: {collection_total}</span>
                    </div>
                    <div class="flex flex-wrap gap-1 inline-flex items-center">
                        {
                            is_comment_top3 ? <Fire /> : <Chat />
                        }
                        <span>话均评论: {average_comment.toFixed(1)}</span>
                    </div>
                    <div class="flex flex-wrap gap-1 inline-flex items-center">
                        {
                            is_drop_rate_top3 ? <Keep /> : <Trashbin />
                        }
                        <span>抛弃率: {(drop_rate * 100).toFixed(2)}%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 收藏数: 移动端 -->
    <div
        class="sm:hidden mt-2 flex gap-4 text-xs text-gray-600 dark:text-gray-400 items-center"
    >
        <div class="flex flex-wrap gap-1 inline-flex items-center">
            {
                is_collection_top3 ? <Star /> : <Bookmark />
            }
            <span>收藏: {collection_total}</span>
        </div>
        <div class="flex flex-wrap gap-1 inline-flex items-center">
            {
                is_comment_top3 ? <Fire /> : <Chat />
            }
            <span>话均评论: {average_comment.toFixed(1)}</span>
        </div>
        <div class="flex flex-wrap gap-1 inline-flex items-center">
            {
                is_drop_rate_top3 ? <Keep /> : <Trashbin />
            }
            <span>抛弃率: {(drop_rate * 100).toFixed(2)}%</span>
        </div>
    </div>
</div>

<style>
    .rank-badge {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 80%, 0 100%);
    }
</style>
